@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root
{
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

.mobile
{
    display: none;
}

.active
{
    display: block;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
}

a
{
    color:var(--medium-gray)
}

h1{
    font-size: 5rem;
    font-weight: 700;
    color: var(--almost-black);

    margin-bottom: 2rem;
}

main p{
    padding-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--medium-gray);
}

body
{
    position: relative;
    background-color: var(--almost-white);
}

.container
{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    min-height:100vh;
    padding: 0 4%;
}

header
{
    width: 100%;
    padding: 30px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight:500;
    font-size: 1.5rem;
}

.features-logo
{
    display: flex;
    gap: 50px;
    align-items: center;

}

.feactures{
    display: flex;
    gap: 20px;
    align-items: center
}

.modal
{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(9, 9, 9, 0.5);
    width: 100%;
    height: 100%;
}

.modal-wrapper
{
    z-index: 10;
    position: absolute;
    right: 0;
    padding:0 10% 0 2%;
    height: 100%;
    background-color: white
}

.modal-wrapper > img{
    margin-left: 100%;
    padding:10px 0;
}

.modal .feactures{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center
}

.login-register
{
    display: flex;
    gap: 2rem;
    align-items: center;
}

a.btn
{
    color: var(--medium-gray);
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
    background-color: var(--almost-white);
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
}

a.btn.login-button
{
    padding: 0;
}

a.btn.learn
{
    background-color: var(--almost-black);
    color: var(--almost-white);
    padding: 15px;
    width: 200px;
}

a.btn.learn:hover
{
    background-color: var(--almost-white);
    color: var(--almost-black);
    border: 1px solid var(--almost-black);
}


a.btn.register-button
{
    border: 2px solid var(--medium-gray);
}

main
{
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.main-content
{   
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    padding-top: 100px;
    width:40%;
}

/* .main-content p
{
    padding: 20px 0;
} */


.sponsor
{
    padding-top: 60px;  
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-image
{
    width: 35%;
    height: 70vh;
    /* background-color: aqua; */
    background-image: url('./images/image-hero-desktop.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

#feacture,
#company,
#feactureMobile,
#companyMobile
{
    position: relative;
}

#fecture-item
{
    line-height: 2rem
}

.feacture-container a
{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .feacture-container a img
{
    width: 100%;
    height: 100%;
} */



#feacture ul
{

    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: -40px;
}

#feactureMobile ul
{

    background-color: white;
    border-radius: 10px;
    position: relative;
    left: 20px;
}


#company ul
{

    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: -20px;
}

#companyMobile ul
{

    background-color: white;
    border-radius: 10px;
    position: relative;
    left: 20px;
}

li 
{
    display: flex;
    gap: 10px;
    justify-content: space-around;
   
    align-items: center;
    width:150px;
    padding: 10px
}

.inative
{
    display: none;
}


.feactures li p
{
    font-size: 1rem;
    color: var(--medium-gray);
}

/* li img 
{
    width:10%;
} */


footer
{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 40px;

}

@media only screen and   (max-width: 968px)
{
    header
{    
    flex-direction: column;
   padding-bottom:0;   
}

.features-logo
{
    width: 100%;
    justify-content:space-between;

}

.login-register
{
    width: 100%;
    margin-top: 2rem;
    justify-content: flex-end;
}
}

@media only screen and   (max-width: 768px)
{
    .desktop{
        display:none;
    }

    .mobile
    {
        display: block;
    }

    header
    {
        
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       
    }

    .login-register
{
   
    margin-top: 0;
   
}

    main
{
    width: 100%;
    padding: 0;
    flex-direction: column-reverse;
    align-items: center;

    justify-content: space-around;
    
}

.container
{
    padding:0 3%;
}

.main-content
{   
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-top: 40px;
    width:100%;
}

/* .main-content p
{
    padding: 20px 0;
} */


.sponsor
{
    padding-top: 40px;  
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsor img
{
    width:20%;
}

.main-image
{
    width: 100%;
    padding-top:85%;
    height: 0;
    background-image: url('./images/image-hero-mobile.png');
    background-size:  cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--almost-black);
    
    margin-bottom: 2rem;
}

main p{
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: center
}    

footer
{
   
    position: relative;
    flex-direction: column;
    text-align: center

}


}